body {
    background-image: url('/assets/css/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    padding: 3%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #6E8599;
    text-shadow: 2px 2px #ff00003f
}

.starter{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 15px;
}

#homebtn{
    display: none; 
    align-items: center; 
    justify-self: center;
}

#intro{
    display: flex;
}

.jumbotron{  
    margin: auto; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background:rgba(255, 255, 255, 0.719);
    border-radius:45px;
    margin-top: 25px;
    padding: 3%;
    width: 75%;
    border: grey 3px;
    border-style: inset;
}


#container {
    display: none;
    height: 100%;
    width: 100%;
    padding: 6%;
}

#startbtn {
    margin: auto;
    height: 75px;
    width: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius:45px;
}

li {
    list-style-type: none;
    border: grey 2px;
    border-style: outset;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;   
}

li:hover{
    background-color: moccasin;
    border-style: inset;
}

#gameBoard{
    margin: auto; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background:rgba(255, 255, 255, 0.719);
    border-radius:45px;
    margin-top: 25px;
    padding: 3%;
    width: 75%;
    border: grey 3px;
    border-style: inset;
}